<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
        {% else %}
            <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> 页 {{paginator.page}} of {{paginator.total_pages}} </span>
    {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="下一页">更 多 &raquo;</a>
    {% endif %} 
</nav>